# PrometeusPBX
PROMETEUSPBX_DEBUG=1
PROMETEUSPBX_ALLOWED_HOSTS="*"
PROMETEUSPBX_DATABASE_HOST="db"
PROMETEUSPBX_DATABASE="prometeuspbx"
PROMETEUSPBX_DATABASE_USER="prometeuspbx"
PROMETEUSPBX_DATABASE_PASSWORD="prometeuspbx"
PROMETEUSPBX_DATABASE_PORT=5432
PROMETEUSPBX_SECRET_KEY='DJANGO SECRET KEY'