{% extends 'ui/dashboard/settings/settings.html' %}{% load i18n %}
{% block settings_content %}
    <div class="row">
        <div class="col-md-3 col-xl-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{% translate 'Account settings' %}</h5>
                </div>
                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action{% if form_type == 'form' or not form_type %} active{% endif %}"
                       data-bs-toggle="list" href="#account" role="tab">
                        {% translate 'Account' %}
                    </a>
                    <a class="list-group-item list-group-item-action{% if form_type == 'change_password' %} active{% endif %}"
                       data-bs-toggle="list" href="#password" role="tab">
                        {% translate 'Password' %}
                    </a>
                    <a class="list-group-item list-group-item-action{% if form_type == '' %} active{% endif %}"
                       data-bs-toggle="list" href="#notifications" role="tab">
                        {% translate 'Notifications' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xl-10">
            <div class="tab-content">
                <div class="tab-pane fade show{% if form_type == 'form' or not form_type %} active{% endif %}"
                     id="account" role="tabpanel">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">{% translate 'Account info' %}</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% include 'ui/forms/settings/profile_edit.html' with form=form %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show{% if form_type == 'change_password' %} active{% endif %}" id="password"
                     role="tabpanel">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title">{% translate 'Change password' %}</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% include 'ui/forms/settings/change_password.html' with form=form_change_password %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show{% if form_type == '' %} active{% endif %}" id="notifications"
                     role="tabpanel">
                    notifications
                </div>
            </div>
        </div>
    </div>
{% endblock %}