<form method="post" action="{% url 'ui:dashboard-user-set-password' object.pk %}">{% load i18n %}
    <div class="row">{% csrf_token %}
        <div class="col-sm-12 mb-3">
            <label class="form-label" for="new_password">{% translate "New password" %}</label>
            <input class="form-control" id="new_password">
        </div>
        <div class="col-sm-12 mb-3">
            <label class="form-label" for="new_password_confirmation">{% translate "New password confirmation" %}</label>
            <input class="form-control" id="new_password_confirmation">
        </div>
        <div class="col-sm-12 mb-3">
            <button class="btn btn-primary">{% translate "Update" %}</button>
        </div>
    </div>
</form>