<form method="post" action="{% url 'ui:dashboard-user-edit' object.pk %}">{% load i18n %}
    <input type="hidden" name="form_type" value="set-password">
    <div class="row">{% csrf_token %}
        <div class="col-sm-12 mb-3">
            <label class="form-label"
                   for="{{ form_set_password.new_password1.id_for_label }}">{% translate "New password" %}</label>
            {{ form_set_password.new_password1 }}
            {% if form_set_password.new_password1.errors %}
                <div class="invalid-feedback d-block">
                    <ul class="list-group">
                        {% for error in form_set_password.new_password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-12 mb-3">
            <label class="form-label"
                   for="{{ form_set_password.new_password2.id_for_label }}">{% translate "New password confirmation" %}</label>
            {{ form_set_password.new_password2 }}
            {% if form_set_password.new_password2.errors %}
                <div class="invalid-feedback d-block">
                    <ul class="list-group">
                        {% for error in form_set_password.new_password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-end">
                <button class="btn btn-primary">{% translate "Update" %}</button>
            </div>
        </div>
    </div>
</form>