{% extends 'ui/dashboard/users/users.html' %}{% load i18n %}
{% block user_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5 class="card-title">{% translate 'Edit user: ' %}{{ object.get_username }}</h5>
                    <h6 class="card-subtitle text-muted">
                        {% translate 'Since: ' %}{{ object.date_joined|date:'d/m/y' }}</h6>
                </div>
                <form class="card-body" method="post"
                      action="{% url 'ui:dashboard-user-edit' object.pk %}">{% csrf_token %}
                    {% include 'ui/forms/user_edit.html' with form=form %}
                </form>
            </div>
        </div>
    </div>
    {% if perms.can_change_users_password %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5 class="card-title">{% translate 'Change password' %}</h5>
                    </div>
                    <div class="card-body">
                        {% include 'ui/forms/user/set_password.html' with form=form_set_password %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}