{% extends 'ui/dashboard/pages/users.html' %}{% load i18n %}
{% block user_content %}
    <div class="card-header pb-0">
        <h5 class="card-title">{% translate 'Edit user' %}: {{ object.get_username }}</h5>
    </div>
    <form class="card-body" method="post" action="{% url 'ui:dashboard-user-edit' object.pk %}">{% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-6 mb-3">
                    <label class="form-label" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">{% translate 'Update' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}