<ul class="sidebar-nav">{% load i18n %}
    {% for section_key, section in menu.items %}
        {% if not section_key == 'no_section' %}
            <li class="sidebar-header">{{ section.label }}</li>
            {% for item in section.items %}
                {% include 'ui/dashboard/menu_item.html' with item=item %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if menu.no_section %}
        <li class="sidebar-header">{{ section.label }}</li>
        {% for item in menu.no_section.items %}
            {% include 'ui/dashboard/menu_item.html' with item=item %}
        {% endfor %}
    {% endif %}
</ul>