{% load i18n %}
<div class="row">
    <div class="col-10">
        <div class="row">
            <div class="col-12">
                <div class="card" id="aor">
                    <div class="card-header pb-0">
                        <h5 class="card-title">{% translate 'Aor' %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {% include 'ui/utils/generate_form.html' with form=form %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-primary">{% translate 'Update' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="auth">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5 class="card-title">{% translate 'Auth' %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {% include 'ui/utils/generate_form.html' with form=form_auth %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-primary">{% translate 'Update' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" id="endpoint">
                    <div class="card-header pb-0">
                        <h5 class="card-title">{% translate 'Endpoint' %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {% include 'ui/utils/generate_form.html' with form=form_endpoint %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-primary">{% translate 'Update' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 tab-helper-links">
        <strong>{% translate 'Operations' %}</strong>
        <hr>
        <nav>
            <ul class="list-unstyled" data-prometeus-list="smooth">
                <li>
                    <a href="#aor">{% translate 'Aor' %}</a>
                </li>
                <li>
                    <a href="#auth">{% translate 'Auth' %}</a>
                </li>
                <li>
                    <a href="#endpoint">{% translate 'Endpoint' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>